:set relativenumber
:set number
:set surround
:set easymotion

:imap jj <Esc>

" I like using H and L for beginning/end of line
nmap H ^
nmap L $

set scrolloff=5

" set clipboard=unnamed

" Allows ctrl + hjkl to navigate panes
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l